{{ form_start(form) }}
    {# { form_widget(form) } #}
    {# { form_row(form.datZabpacjentszczepiacy.dataZabiegu) } #}
    {{ form_row(form.pacjent) }}
    {{ form_row(form.szczepiacy) }}
    {{ form_row(form.rodzajSzczepionki) }}
    {{ form_row(form.coPodano) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    
{{ form_end(form) }}


