{% extends 'base.html.twig' %}

{% block title %}Szczepienie index{% endblock %}

{% block body %}
    <h1>Szczepienie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DataZabiegu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for szczepienie in szczepienies %}
            <tr>
                <td>{{ szczepienie.id }}</td>
                <td>{{ szczepienie.dataZabiegu ? szczepienie.dataZabiegu|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('szczepienie_show', {'id': szczepienie.id}) }}">show</a>
                    <a href="{{ path('szczepienie_edit', {'id': szczepienie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('szczepienie_new') }}">Create new</a>
{% endblock %}
