{% extends 'base.html.twig' %}

{% block title %}Edit Dawka{% endblock %}

{% block body %}
    <h3>Edit Dawka</h3>

    {{ include('dawka/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('schemat_edit', {'id': dawka.schemat.id}) }}">edytuj mój schemat (nr {{ dawka.schemat.id }})</a>
    <a href="{{ path('dawka_index') }}">back to list</a>

    {{ include('dawka/_delete_form.html.twig') }}
{% endblock %}
