{% extends 'base.html.twig' %}

{% block title %}Dawka index{% endblock %}

{% block body %}
    <h3>Dawka index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ktora</th>
                <th>OdstepMin</th>
                <th>OdstepMax</th>
                <th>nazwaSzczepionki</th>
                <th>numer schematu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dawka in dawkas %}
            <tr>
                <td>{{ dawka.id }}</td>
                <td>{{ dawka.ktora }}</td>
                <td>{{ dawka.odstepMinInterval.format('%y lat, %m miesięcy') }}</td>
                <td>{{ dawka.odstepMaxInterval.format('%y lat, %m miesięcy') }}</td>
                <td>{{ dawka.schemat.podawania.nazwa }}</td>
                <td>{{ dawka.schemat.id }}</td>
                <td>
                    <a href="{{ path('dawka_show', {'id': dawka.id}) }}">show</a>
                    <a href="{{ path('dawka_edit', {'id': dawka.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dawka_new') }}">Create new</a>
{% endblock %}
