{% extends 'base.html.twig' %}

{% block title %}Pacjent index{% endblock %}

{% block body %}
    <h3>Pacjent index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie i Nazwisko</th>
                
                <th>Pesel</th>
                <th>Data urodzenia</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pacjent in pacjents %}
            <tr>
                <td>{{ pacjent.id }}</td>
                <td><a href="{{ path('pacjent_show', {'id': pacjent.id}) }}">
                    {{ pacjent.imie }} {{ pacjent.nazwisko }}
                    </a></td>
                <td>{{ pacjent.pesel }}</td>
                <td>{{ pacjent.DataUrodzeniaZpeselu }}</td>
                <td>
                    <a href="{{ path('pacjent_edit', {'id': pacjent.id}) }}">edytuj dane</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pacjent_new') }}">Create new</a>
{% endblock %}
