{% extends 'base.html.twig' %}

{% block title %}Pacjent{% endblock %}

{% block body %}
    <h3>Pacjent</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Imie</th>
                <td>{{ pacjent.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ pacjent.nazwisko }}</td>
            </tr>
            <tr>
                <th>Pesel</th>
                <td>{{ pacjent.pesel }}</td>
            </tr>
            <tr>
                <th>Data urodzenia</th>
                <td>{{ pacjent.DataUrodzeniaZpeselu }}</td>
            </tr>
            <tr>
                <th>Data zabiegu</th>
                <th>nazwa szczepionki</th>
                <th>odstęp od poprzedniej dawki</th>
                <th>wiek podania</th>
            </tr>
            {% for szczepienie in pacjent.szczepienia %}
            <tr>
                <td>{{ szczepienie.dataZabiegu|date("d m Y") }}</td>
                <td><a href="{{ path('dawka_edit',{'id': szczepienie.coPodano.id}) }}">
                {{ szczepienie.coPodano.getSkroconeCechyMojeImojejSzczepionki }}</a></td>
                <td>{{ pacjent.OdstepOdPoprzedniejDawki(szczepienie) }}</td>
                <td>{{ pacjent.WiekPodaniaSzczepienia(szczepienie) }} {{ pacjent.WiekPorownanieDoWymaganych(szczepienie) }}</td>
                <td><a href="{{ path('szczepienie_edit',{'id': szczepienie.id}) }}">popraw</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <a href="{{ path('szczepienie_new',{'pacjent': pacjent.id}) }}">dodaj szczepienie</a>

    <a href="{{ path('pacjent_index') }}">powrót do listy</a>

    <a href="{{ path('pacjent_edit', {'id': pacjent.id}) }}">Zmień dane pacjenta</a>

    {{ include('pacjent/_delete_form.html.twig') }}
{% endblock %}
