{% extends 'base.html.twig' %}

{% block title %}Uzytkownik{% endblock %}

{% block body %}
    <h1>Uzytkownik</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ uzytkownik.id }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ uzytkownik.imie }}</td>
            </tr>
            <tr>
                <th>Grupy</th>
                {% for grupa in uzytkownik.groups %}
                    <td>{{ grupa.nazwa }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Telefony</th>
                {% for tel in uzytkownik.telefons %}
                    <td>{{ tel.numer }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('uzytkownik_index') }}">back to list</a>

    <a href="{{ path('uzytkownik_edit', {'id': uzytkownik.id}) }}">edit</a>

    {{ include('uzytkownik/_delete_form.html.twig') }}
{% endblock %}
