{% extends 'base.html.twig' %}

{% block title %}Szczepionka index{% endblock %}

{% block body %}
    <h1>Szczepionka index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Producent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for szczepionka in szczepionkas %}
            <tr>
                <td>{{ szczepionka.id }}</td>
                <td>{{ szczepionka.nazwa }}</td>
                <td>{{ szczepionka.producent }}</td>
                <td>
                    <a href="{{ path('szczepionka_show', {'id': szczepionka.id}) }}">pokaż</a>
                    <a href="{{ path('szczepionka_edit', {'id': szczepionka.id}) }}">edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('szczepionka_new') }}">Create new</a>
{% endblock %}
