<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="../Styl1.css" rel="stylesheet" >
        {% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('szczepionka_index') }}">Szczepionki</a>
        <a href="{{ path('choroba_index') }}">Choroby</a>
        <a href="{{ path('dawka_index') }}">Dawki</a>
        <a href="{{ path('schemat_index') }}">Schemat</a>
        <a href="{{ path('pacjent_index') }}">Pacjenci</a>
        <a href="{{ path('szczepienie_index') }}">Szczepienia</a>
        <a href="{{ path('kalendarz_szczepien_index') }}">Kalendarz Szczepień</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
