{{ form_start(form) }}
    {% for pole in form %}
        {% if pole == form.dawki %}
            <ul class="ul_DodajUsun" data-prototype="{{ form_widget(form.dawki.vars.prototype)|e('html_attr') }}">
            {% for dawka in pole %}
                <li>{{ form_row(dawka) }}</li>
            {% endfor %}
            </ul>
        {% else %}
           {{ form_row(pole) }}
        {% endif %}
    {% endfor %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
