{% extends 'base.html.twig' %}

{% block title %}Schemat index{% endblock %}

{% block body %}
    <h3>Schemat index</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa szczepionki</th>
                <th>Obowiązuje od</th>
                <th>do</th>
                <th>Zastępuje</th>
                <th>actions</th>
                <th>ile mnie zastępuje</th>
            </tr>
        </thead>
        <tbody>
        {% for schemat in schemats %}
            <tr>
                <td>{{ schemat.id }}</td>
                <td>{{ schemat.podawania.nazwa }}{% if schemat.IsSubstituted() %} zastąpiony{% endif %}</td>
                <td>{{ schemat.startYear.format('Y') }}</td>
                <td>{% if schemat.endYear %}{{ schemat.endYear.format('Y') }}{% endif %}</td>
                <td>{% if schemat.substitute %}{{ schemat.substitute.getVaccineNameAndStartYear() }}  {% endif %}</td>
                <td>
                    <a href="{{ path('schemat_show', {'id': schemat.id}) }}">pokaż</a>
                    <a href="{{ path('schemat_edit', {'id': schemat.id}) }}">edytuj</a>
                    {% if not schemat.IsSubstituted() %}
                    <a href="{{ path('schemat_new_from_copy', {'id': schemat.id}) }}">zastąp nowym</a>
                    {% endif %}
                </td>
                <td>{{ schemat.FromMySubstituting() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('schemat_new', {'id': 1}) }}">Create new</a> #}
{% endblock %}
