{% extends 'base.html.twig' %}

{% block title %}Telefon index{% endblock %}

{% block body %}
    <h1>Telefon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telefon in telefons %}
            <tr>
                <td>{{ telefon.id }}</td>
                <td>{{ telefon.numer }}</td>
                <td>
                    <a href="{{ path('telefon_show', {'id': telefon.id}) }}">show</a>
                    <a href="{{ path('telefon_edit', {'id': telefon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('telefon_new') }}">Create new</a>
{% endblock %}
